* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_2 {
    width: 100%;
    height: 3759px;
    background: rgba(232,237,195,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_3 {
    width: 100%;
    height: 144px;
    background: rgba(159,173,140,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v3_41 {
    width: 136px;
    height: 126px;
    background: url("../images/v3_41.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 74px;
    border-radius: 50%;
  }
  .v3_42 {
    width: 100px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 45px;
    left: 2000px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v3_45 {
    width: 100px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 45px;
    left: 2197px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v3_46 {
    width: 150px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 45px;
    left: 2403px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v3_49 {
    width: 150px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 45px;
    left: 2647px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v3_2 {
    width: 100%;
    height: 100%;
    background: url("../images/v3_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 144px;
    left: 119px;
    border: 0px solid rgba(37,10,102,1);
    overflow: hidden;
  }
  .v3_23 {
    width: 415px;
    height: 450px;
    background: url("../images/v3_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1886px;
    left: 501px;
    border: 4px solid rgba(37,10,102,1);
    overflow: hidden;
  }
  .v3_61 {
    width: 415px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 2404px;
    left: 501px;
    opacity: 1;
    text-align: center;
  }
  .v3_24 {
    width: 415px;
    height: 400px;
    background: url("../images/v3_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2308px;
    left: 1282px;
    border: 4px solid rgba(37,10,102,1);
    overflow: hidden;
  }
  .v3_62 {
    width: 415px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 1922px;
    left: 1276px;
    opacity: 1;
    text-align: center;
  }
  .v3_25 {
    width: 415px;
    height: 450px;
    background: url("../images/v3_25.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1886px;
    left: 2063px;
    border: 4px solid rgba(37,10,102,1);
    overflow: hidden;
  }
  .v3_63 {
    width: 415px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 2426px;
    left: 2043px;
    opacity: 1;
    text-align: center;
  }
  .v63_3 {
    width: 100%;
    height: 621px;
    background: rgba(159,173,140,1);
    opacity: 1;
    position: absolute;
    top: 2837px;
    left: 226px;
    overflow: hidden;
  }
  .v3_67 {
    width: 100%;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 2879px;
    left: 963px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .v3_72 {
    width: 330px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 3051px;
    left: 633px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v3_69 {
    width: 330px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 3066px;
    left: 1920px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v3_74 {
    width: 100%;
    height: 300px;
    background: rgba(154,194,197,1);
    opacity: 1;
    position: absolute;
    top: 3459px;
    left: 0px;
    overflow: hidden;
  }
  .v10_63 {
    width: 500px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 20px;
    left: 306px;
    font-family: Bubblegum Sans;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .v24_4 {
    width: 100%;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 1635px;
    left: 887px;
    font-family: Bubblegum Sans;
    font-weight: Regular;
    font-size: 200px;
    opacity: 1;
    text-align: center;
  }
  .v63_4 {
    width: 379px;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 3079px;
    left: 1266px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v172_61 {
    width: 664px;
    height: 191px;
    background: url("../images/v172_61.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3513px;
    left: 169px;
    overflow: hidden;
  }
  .v172_62 {
    width: 100%;
    color: rgba(37,10,102,1);
    position: absolute;
    top: 3501px;
    left: 952px;
    font-family: Reenie Beanie;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  
  