
/*------Navbar-------*/

.navbar-nav{
  padding: 10px;
  padding-left: 50px;
  display:inline-block;
  text-align: center;
}

.nav-item {
  padding: 10px;
  display:inline;

}
.dropdown {  
  padding: 10px;
  color: #250A66;
}

.nav-item-sign{
  padding: 10px;
}

.nav-link,
.nav-link-2,
.nav-link-3 {
    color: #250A66;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    text-align:left;
    margin-right: 10px;
}

.nav-link:hover,
.nav-link-2:hover,
.nav-link-3:hover{
    color:#9AC2C5;
    color:rgb(105, 114, 187);
}

.or {
  color: #250A66;
  font-family: 'Reenie Beanie', cursive;
  font-size: 29px;
  text-align:left;
  margin-right: 10px;
}






/*------End of Navbar-------*/

.jumbotron-image {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}







/*-------Footer------*/

    footer { position: sticky }
footer {
    text-align: center;
    padding: 3px;
    background-color: #9AC2C5;
    color:#9AC2C5 ;
}

.fab{
  font-size: xx-large;
}
    
/*-----End of Footer-----*/


.form-signup {
  font-family: 'Reenie Beanie', cursive;
  font-size: 29px;
}